/* 
******* Main Site Styling for 
- Front End Technical Test
- Charity Creative Landing Page
- Festival Creative Landing Page
*******
 */

@import 'mixins';

/* Colors */
$white 		: #ffffff;
$dark 		: #1c1c1c;
$clouds		: #ecf0f1;
$silver		: #bdc3c7;
$vLightBlue : #f1f8f9;
$gray		: #f6f6f6;
$gray2		: #f2f2f2;
$borderG    : #e0e0e0;
$lightGray	: #e7e7e7;
$navyBlue	: #0e798b;
$darkenNB 	: #0b5c6a;
$lightBlue	: #14b2cc;
$orange		: #f29323;
$orangeO	: #f8c991;
$inactive	: #c0c0c0;
$midnight	: #2c3e50;
$asphalt	: #34495e;
$sunflower	: #f1c40f;
$sunflower2	: #f39c12;

$openSans	: 'Open Sans', sans-serif;