/* 
******* Main Site Styling for 
- Front End Technical Test
- Charity Creative Landing Page
- Festival Creative Landing Page
*******
 */

@import 'mixins';

/* Colors */
$white 		: #ffffff;
$dark 		: #1c1c1c;
$clouds		: #ecf0f1;
$silver		: #bdc3c7;
$vLightBlue : #f1f8f9;
$gray		: #f6f6f6;
$gray2		: #f2f2f2;
$borderG    : #e0e0e0;
$lightGray	: #e7e7e7;
$navyBlue	: #0e798b;
$darkenNB 	: #0b5c6a;
$lightBlue	: #14b2cc;
$orange		: #f29323;
$orangeO	: #f8c991;
$inactive	: #c0c0c0;
$midnight	: #2c3e50;
$asphalt	: #34495e;
$sunflower	: #f1c40f;
$sunflower2	: #f39c12;
// Red
$pomagranate: #c0392b;
$alizarin	: #e74c3c;
$red		: #cc6055;

$raleway	: 'Raleway', sans-serif;

//font weight
$normal : 400;
$semi   : 600;
$heavy  : 900;

body {
	font-family: $raleway;
	letter-spacing: 0.05em;
	/* Return to Main Page */

	#return {
		background: $dark;
		font-size: em(10px);
		padding: 10px;
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			li {
				overflow: hidden;
				a {
					text-decoration: none;
					color: $clouds;
					padding: 3px 10px;
					border-left: 5px solid $alizarin;
					&:hover {
						color: $alizarin;
					}//hover
				}//a
			}//li
		}//ul
	}//return tab



	/* Login */
	#login-form {
		position: fixed;
		top: 50%;
		left: 50%;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		transform: translate(-50%, -50%);
		background: rgba(7,7,7,.8);
		color: $dark;
		z-index: 100;
		.login-group {
			padding: 85px;
			border-radius: 4px;
			background: $white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			text-align: center;
			@include breakpoint(mobileonly) {
				padding: 25px;
				border-radius: 0;
			}//breakpoint
			h1 {
				font-weight: $semi;
				font-size: em(24px);
			}//h1
			label {
				font-size: em(15px);
				letter-spacing: 0.05em;
			}//label
			input[type="text"], input[type="password"] {
				width: 240px;
				max-width: 100%;
				padding: 5px;
				margin: 15px auto;
				border: 1px solid $dark;
				border-radius: 2px;
				outline: none;
				box-shadow: none;
				color: lighten($dark, 20%);
				display: block;
				@include breakpoint(mobileonly) {
					width: 185px;					
				}//breakpoint
			}//input	
			input[type="submit"] {
				width: 240px;
				background: $red;
				border: 2px solid transparent;
				padding: 10px;
				color: $white;
				letter-spacing: 0.05em;
				font-weight: $semi;
				font-size: em(15px);
				display: block;
				margin: 0 auto;
				@include breakpoint(mobileonly) {
					width: 185px;					
				}//breakpoint
				&:hover {
					cursor: pointer;
					background: $white;
					color: $red;
					border-color: $red;
				}//hover
			}//submit	
			a {
				color: $dark;
				font-size: em(14px);
				word-wrap: keep-all;
				text-align: center;
				display: block;
				margin: 15px auto 0 auto;
				padding: 5px 7px;
				text-decoration: none;
				span {
					font-weight: $semi;
				}//span
				&:hover {
					text-decoration: underline;
					color: $red;
				}//hover
			}//a
			#closeBox {
				font-size: em(16px);
				background: $dark;
				color: $white;
				position: absolute;
				top: 0;
				right: 0;
				padding: 13px;
				border: 2px solid $dark;
				margin: 5px;
				&:hover {
					cursor: pointer;
					background: $white;
					border-color: $dark;
					color: $dark;
				}//hover
			}//closeBox
		}//login
	}//login-form

/* HEADER */
	header {
		height: 100vh;
		@include backImage('../images/charity/header-animal-opt.jpg', 0.4, $dark); //  black overlay with 40% opacity
		background-position: center center;
		background-repeat: no-repeat;
  		background-size: cover; // can use any regular css properties to style background

		nav {
			margin: 0;
			padding: 0 15px 15px 15px;
			height: 100%;

			#nav { //ul #nav
				margin: 0;
				padding: 0;
				list-style-type: none;
				list-style-position: outside;
				overflow: hidden;
				/* logo */
				.logo {
					margin: 0 auto;
					padding: 45px 0;
					width: auto;
					max-width: 100%;
					display: block;
					list-style-type: none;
					list-style-position: outside;
					a {
						img {
							width: 480px;
							max-width: 100%;
							display: block;
							margin: 0 auto;
						}//img						
					}//a
					@include breakpoint(tablet) {
						a {
							img {
								margin: 0 auto;
								width: 320px;
							}//img
						}//a
					}//breakpoint tablet

				}//logo

				/* Menu List */
				.menu { /* li.menu */
					margin: 0;
					padding:0;
					display: block;
					width: 960px;
					max-width: 100%;
					position:absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					background: rgba(0,0,0,.5);

					#navbar-on {
						margin:0;
						padding:0;
						list-style-type: none;
						list-style-position: outside;
						overflow: hidden;
						li {
							float: left;
							a {
								text-align: center;
								display: block;
								padding: 14px 32px 14px 32px;
								margin: 5px auto 5px auto;
								text-decoration: none;
								color: $white;
								font-size: em(24);
								font-weight: $semi;
								border: 2px solid transparent;
								&:hover {
									color: lighten($sunflower2, 10%);
									border-color: lighten($sunflower2, 10%);
									background: rgba(0,0,0,.8);
								}//hover
							}//a
							@include breakpoint(desktop) {
								&:first-of-type {
									margin-left: 20px;
								}//first-of-type								
							}//bp desktop
						}//li
					}//ul
				}//menu
				@include breakpoint(tablet) {
					.menu {
						background: none;
						#navbar-on {
							li {
								float: none;
								a {
									margin: 0;
									padding: 12px 15px;
								}//a
							}//li
						}//#navbar-on
					}
				}//breakpoint tablet

				/* Social Media */
				.social-media {
					margin: 0;
					padding: 0;
					ul {
						margin: 0;
						padding: 0;
						list-style-type: none;
						list-style-position: outside;
						overflow: hidden;
						position: absolute;
						bottom: 3%;
						left: 50%;
						transform: translateX(-50%);
						li {
							display: inline-block;
							a {
								color: $white;
								padding: 10px 12px;
								font-size: em(18px);
								@include breakpoint(mobileonly) {
									padding: 3px 6px;
								}//bp mobileonly
								&:hover {
									color: $sunflower;
								}//hover
							}//a
						}//li					
					}//ul
				}//social-media

				/* Header Buttons */
				#header_buttons {
					position:absolute;
					left: 50%;
					top: 80%;
					transform: translate(-50%, -50%);
					z-index: 10;
					// position: relative;
					ul {
						margin: 0;
						padding: 0;
						overflow: hidden;
						list-style-type: none;
						list-style-position: outside;
						li {
							float: left;
							@include breakpoint(mobileonly) {
								float: none;
								width: 200px;
								padding: 15px;
								font-size: em(24px);
							}//mobileonly breakpoint
							a {
								text-decoration: none;
								color: darken($sunflower2, 5%);
								display: block;
								font-weight: $semi;
								background: $white;
								padding: 14px 32px 14px 32px;
								margin: 5px 5px 5px 0px;
								border: 2px solid transparent;
								@include breakpoint(tablet) {
									margin: 2px;
									padding: 10px 15px;	
									text-align: center;
								}//tablet
								&:hover {
									background: $sunflower2;
									color: $white;
									border-color: $white;
								}//hover
							}//a
						}//li
					}//ul
				}//header buttons

				@include breakpoint(tablet) {
					position: relative;
					background:rgba(0,0,0,.7);
					height: 100%;
				}//breakpoint tablet
 			}//#nav
		}//nav

		@include breakpoint(mobileonly) {
			#navbar-on, .social-media {
				display: none;
			}//menu, social-media
		}//mobileonly

	}//header


/* MAIN */
	main {
		margin: 0;
		padding: 0;
		overflow: hidden;
		height: 100%;
		#container {
			margin:0;
			padding:0;
			.content-nav {
				width: 100%;
				background: $red;
				ul {
					margin: 0;
					padding: 0;
					list-style-type: none;
					list-style-position: outside;
					overflow: hidden;
					li {
						float: left;
						a {
							display: block;
							padding: 14px 16px;
							color: $white;
							text-decoration: none;
							font-weight: $normal;
							letter-spacing: 0.05em;
							font-size: em(15px);
							&:hover {
								background: darken($red, 10%);
							}//hover
						}//a
					}//li
					.branding {
						background: darken($red, 10%);
						a {
							span{
							font-weight: $heavy;
							font-size: em(20px);	
							}//span
							font-size: em(13px);
							padding: 14px 20px;
							letter-spacing: 0.05em;
						}//a
					}//branding
					.social {
						ul {
							position: absolute;
							right:0;
							li {
								border-right: 1px solid darken($red, 10%);
								float: left;
								a {
									font-size: em(15px);
									padding: 14px 16px;
									letter-spacing: 0.05em;
								}//a
								&:last-of-type {
									border-right: none;
								}//last-of-type								
							}//li
						}//ul
						
					}//branding
				}//ul


				#bars {
					display: none;	
				}//bars


			}//content__nav

			@include breakpoint(laptop) {
				.content-nav { 
					position: relative;
					width: 100%;
					height: 100%;
					ul {
						li {
							float: none;
							display: block;
							a {
								font-size: em(22px);
								text-align: left;
							}//a
						}//li
					}//ul
					.branding {
						font-size: em(28px);
						a{
							text-align: center;	
						}//a
					}//branding
					.social {
						display: none;
					}//social

					#bars {
						display: block;
						z-index: 10;
						color: $white;	
						font-size: em(16px);
						padding: 14px 16px;	
						text-align: right;
						&:hover {
							cursor: pointer;
						}//hover
					}//bars
				}//content__nav
			}//laptop

			#welcome {
				position: relative;
				display: block;
				width: 100%;
				@include clearfix;
				margin: 0;
				padding: 0;
				overflow: hidden;
				border-bottom: 1px solid $borderG;
				.welcome_intro {
					margin: 0;
					
					img {
						width: auto;
						max-width: 100%;
						display: block;
						margin: 0 auto;
					}//img
				}//intro
			}//welcome section

			#info {
				height: 100%;
				@include backImage('../images/charity/charity_event.jpg', 0.4, $dark); //  black overlay with 40% opacity
				background-position: center center;
				background-repeat: no-repeat;
		  		background-size: cover; // can use any regular css properties to style background
		  		h1 {
		  			margin: 0;
		  			padding: 0;
		  			line-height: 1.2em;
		  			color: $white;
		  			text-align: center;
		  			padding: 35px 0;
		  			letter-spacing: 0.05em;
		  			font-size:em(54px);
		  			font-weight: $heavy;
		  			word-break: keep-all;
		  			@include breakpoint(tablet) {
		  				font-size: em(30px);
		  			}//tablet
		  		}//h1

		  		.challenges {
		  			width: 100%;
		  			display: flex;
		  			flex-wrap: wrap;
		  			flex-direction: row;
		  			&__col-1, &__col-2, &__col-3 {
		  				display: block;
		  				margin: 0 auto;
		  				background: $gray2;
		  				padding: 25px 0;
		  				border-radius: 5px 5px 0 0;
		  				@include breakpoint(tablet) {
		  					border-radius: 0;
		  				}
		  				img {
		  					width: 300px;
		  					max-width: 100%;
		  					display: block;
		  					margin: 0 auto;
		  					padding: 0px;
		  					@include breakpoint(tablet) {
		  						padding: 0;
		  						margin: 0 auto;
		  						width: auto;
		  					}//breakpoint tablet
		  				}//span
		  				h2 {
		  					background: $red;
		  					padding: 5px;
		  					text-align: center;
		  					color: $white;
		  					font-weight: $semi;
		  					font-size: em(20px);
		  					@include breakpoint(tablet) {
		  						width: auto;
		  					}//breakpoint tablet
		  				}//h2
		  				p {
			  				width: 320px;
			  				max-width: 100%;
			  				color: $dark;
			  				padding: 25px;
			  				text-align: center;
			  				line-height: 1.5em;
			  				@include breakpoint(tablet) {
			  					width: auto;
			  				}
		  				}//p
		  				a {
		  					text-align: center;
		  					width: 240px;
		  					max-width: 100%;
		  					background: $red;
		  					border: 2px solid $gray2;
		  					color: $white;
		  					font-weight: $semi;
		  					padding: 14px 16px;
		  					display: block;
		  					border-radius: 7px;
		  					text-decoration: none;
		  					margin: 0 auto;
		  					&:hover {
		  						background:$white;
		  						color: $red;
		  						border-color: $white;
		  					}//hover
		  					@include breakpoint(tablet) {
		  						width: auto;
		  					}//tablet breakpoint
		  				}//a
		  			}//cols
		  		}//challenges
			}//info

		}//container

		.hiddenNav {
			display: none;
		}//hiddenNav
	}//main

	.active-nav {
		background: darken($red, 25%);
	}//active-nav

	.hidden {
		display: none;
	}//hiddenForm


/* FOOTER */
	footer {
		background: $gray2;
		clear: both;
		width: 100%;
		position: relative;
		bottom: 0;
		text-align:center;
		font-size: em(12px); //.75em
		color: $inactive;
		letter-spacing: 0.05em;
		p{
		margin: 0;
		padding: 20px;
		font-size: em(14px); //.0875em
			a {
				text-decoration: none;
				color: $inactive;
				&:hover {
					color: darken($inactive, 10%);
					text-decoration: underline;
				}//hover
			}//a
		}//p
	}//footer

}//body