/* 
******* Main Site Styling for 
- Front End Technical Test
- Charity Creative Landing Page
- Festival Creative Landing Page
*******
 */

/* Colors */
$white 		: #ffffff;
$dark 		: #1c1c1c;
$clouds		: #ecf0f1;
$silver		: #bdc3c7;
$vLightBlue : #f1f8f9;
$gray		: #f6f6f6;
$gray2		: #f2f2f2;
$borderG    : #e0e0e0;
$lightGray	: #e7e7e7;
$navyBlue	: #0e798b;
$darkenNB 	: #0b5c6a;
$lightBlue	: #14b2cc;
$orange		: #f29323;
$orangeO	: #f8c991;
$inactive	: #c0c0c0;
$midnight	: #2c3e50;
$asphalt	: #34495e;
$sunflower	: #f1c40f;
$sunflower2	: #f39c12;

$openSans	: 'Open Sans', sans-serif;

body {
	font-family: $openSans;
	margin: 0;
	padding: 0;



	/* Return to Main Page */
	#return {
		background: $dark;
		font-size: .7em;
		padding: 10px;
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			li {
				overflow: hidden;
				a {
					text-decoration: none;
					color: $clouds;
					padding: 3px 10px;
					border-left: 5px solid $lightBlue;
					&:hover {
						// background: $clouds;
						color: $lightBlue;
					}//hover
				}//a
			}//li
		}//ul
	}//return tab

	header {
		background: $navyBlue;
		nav {
			position: relative;
			display: block;
			margin: 0 auto;

			/* Logo */
			#brand_logo{ 
				img {
					width: 240px;
					padding: 10px 15px 0px 15px;
					max-width: 100%;
					float: left;
				}//img
			}//brand_logo

			ul {
				list-style-type: none;
				margin: 0;
    			padding: 0;
				overflow: hidden;
				li {
					text-align: center;
					a {
						float: left;
						text-decoration: none;
						font-weight: 400;
						padding: 34px 16px;
						line-height: 1.2em;
						font-size: .85em;
						letter-spacing: 0.05em;
						color: $clouds;
						span {
							margin: 0 3px 0 0;
						}//span
						&:hover {
							background: $darkenNB;
						}//hover
					}//a
					#active-nav {
						background: $darkenNB;
					}//active-nav
				}//li
			}//ul
		}//nav
	}//header

	main{
		width: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		aside {
			color: $navyBlue;
			width: 320px;
			max-width: 100%;
			background:$vLightBlue;
			height: auto;
			border-right: 1px solid $borderG;
			border-bottom: 1px solid $borderG;
			h1 {
				font-size: 1.45em;
				padding: 14px 16px;
				span {
					float: right;
					padding: 0 10px;
				}//span
			}//h1
			ul {
				list-style-type: none;
				list-style-position: outside;
				overflow: hidden;
				margin: 0;
				padding: 0;
				li {
					margin: 0;
					padding: 0;
					a {
						display: block;
						text-decoration: none;
						color: lighten($dark, 20%);
						font-weight: 400;
						letter-spacing: 0.05em;
						font-size: .9em;
						padding: 10px 16px;
						border-left: 7px solid transparent;
						&:hover {
							color: $navyBlue;
							border-left-color: $navyBlue;
						}//hover
					}//a
				}//li
				#active-side {
					color: $navyBlue;
					border-left-color: $navyBlue;
				}//active-side
			}//ul
		}//aside

		article#info {
			width: 100%;
			margin: 0;
			padding: 0;
			background: $white;
			#infoNav {
				margin: 0;
				padding: 0;
				ul {
					margin: 0;
					padding: 0;
					list-style-type: none;
					list-style-position: outside;
					overflow: hidden;
					border-bottom: 1px solid $borderG;
					background: $gray;
					li {
						float: left;
						a {
							border-right: 1px solid $borderG;
							text-decoration: none;
							color: $lightBlue;
							font-weight: 600;
							letter-spacing: 0.05em;
							display: inline-block;
							padding: 18px 16px;
							font-size: .8em;
							&:hover {
								color: $orange;
							}//hover
						}//a
					}//li
				}//ul
				#active-info {
					background: $orange;
					color: $white;
					text-transform: uppercase;
				}//active-info
			}//infoNav
			/* Content Event Header */
			.theEvent {
				margin: 0;
				padding: 0;
				border-bottom: 1px solid $borderG;




				/* Dialog Pop Up */

				/* 	overflow: hidden; to disable scroll whil this is on screen */
				#dialogPopUp {
					overflow: hidden;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					background: rgba(0,0,0, .5);
					z-index: 10;
					display: none;
					.content {
						background: $white;
						color: $dark;
						width: 50%;
						height: auto;
						position: absolute;
						text-align: center;
						padding: 125px 45px;
						font-weight: 600;
						font-size: 1.15em;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
					}//content
				}//dialogPopUp






				figure {
					margin: 0;
					padding: 10px;
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					// img{}
					img{
						float: left;
						display: block;
						width: 125px;
						height: 125px;
						margin: 0 15px;
						box-shadow: 4px 4px 0px 0px $gray2;
						border: 2px solid $gray2;
					}//testimg

					figcaption {
						margin: 0;
						padding: 14px 3px;
						h1 {
							margin: 0;
							padding: 5px 10px;
							font-size: 1.5em;
							color: $lightBlue;
							#dialog {
								position: relative;
								top: -5px;
								margin: 0 0 0 3px;
								font-size: .6rem;
								font-weight: 400;
								letter-spacing: 0.05em;
								border-radius: 3px;
								text-decoration: none;
								color: $white;
								background: $lightBlue;
								padding: 6px 8px;
								border:1px solid transparent;
								&:hover {
									background: $white;
									color: $lightBlue;
									border-color: $lightBlue;
								}//hover
							}//dialog (a)
						}//h1

						/* Schedule */
						.schedule {
							margin: 0;
							padding: 5px;
							font-size: .9rem;
							display: block;

							&__title {
								color: darken($silver, 2%);
								padding: 2px;
							}//schedule__title
							&__info {
								color: darken($silver, 25%);
								padding: 2px;
								padding-left: 10px;
							}//schedule__title

							.cols {
								width: 100%;
								.col-1 {
									width: 50%;
									float: left;
								}//col-1
								.col-2 {
									width: 50%;
									float: right;
								}//col-2
							}//cols
						}//schedule
					}//figcaption
				}//figure
			}//theEvent

			/* Content Main - 2 Columns */
			#eventContent {
				margin: 0;
				padding: 0;
				border-bottom: 1px solid $borderG;

				.bst-col {
					padding: 10px 20px;
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;

					&__one, &__two, &__three {
						display: block;
						h1 {
							background: $gray;
							color: $lightBlue;
							font-size: 1.2em;
							font-weight: 400;
							padding: 14px 16px;
						}//h1
					}//cols one,two,three


					/* Sections with borders */
					.best-selling-tickets,.quick-settings,
					.achievement-results, .reports, .attendance {
						border: 1px solid $borderG;
						width: 480px;
						max-width: 100%;
						margin: 25px 0;
						box-shadow: 4px 4px 0px 0px $gray2;
						h1 {
							margin: 0; 
							background-image: url('../../images/headerel.png');
							background-repeat: no-repeat;
							background-position: right;
							background-size: contain;
						}//h1
					}//best-selling-tickets,quick-settings

					.best-selling-tickets {
						.el {
							width: 100%;
							display: flex;
							flex-wrap: wrap;
							flex-direction: row;
							padding: 10px 0;
							.leftOutputData {
								width:50%;
								.icon {
									display: block;
									content: '';
									width: 50px;
									height: 50px;
									background: $orange;
									border-radius: 100%;
									float: left;
									margin: 10px;
								}
								h2 {
									margin: 10px 0;
									font-size: .9em;
								}//h2
								.edit, .viewSales {
									text-align: center;
									margin: 3px;
									font-size: .85em;
									text-decoration: none;
									padding: 7px 12px;
									display: inline-block;
									background: darken($gray, 5%);
									color: $dark;
									&:hover {
										background: $orangeO;
										color: $white;
									}//hover
								}//edit,viewSales
								.hidden {
									color: lighten($dark, 50%);
								}//hidden
							}//leftOutputData
							.rightOutputData {
								display: block;
								margin: 0;
								float:right;
								width: 40%;
								text-align: right;
								padding: 20px 0;
								p {
									font-size:.9em;
									margin:0;
									padding:0;
									color: $lightBlue;
									font-weight: 600;
								}//p
								span{
									font-size:.7em;
									color: lighten($dark, 40%);
									font-weight: 600;
								}//span
								#salesPopUp {
									padding: 5px;
									color: darken($gray, 15%);
									font-size: 1.2em;
									&:hover {
										cursor: pointer;
										color: $orangeO;
									}//hover
								}//salesPopUp
								.downrate {
									color: $orange;
								}//downrate
								.outofstock {
									color: $dark;
								}//outofstock



								/* Popup tooltip */
								.tooltip {
									position: absolute;
									margin-top: 7px;
									margin-left: 30px;
									background: $orange;
									padding: 17px 24px;

									box-shadow: 4px 4px 0px 0px darken($gray2, 5%);
									.tooltiptext {
										text-align: left;
										margin: 0;
										padding: 0;
										p {
											color: $white;
											width: 150px;
											font-size: 1.1em;
											letter-spacing: 0.05em;
											line-height: 1.4em;
											text-shadow: 1px 1px 0px lighten($dark, 30%);
											margin-bottom: 18px;
										}//p
										a {
											text-decoration: none;
											background: $white;
											color: $orange;
											font-size: 1em;
											position: relative;
											left: 13px;
											padding: 4px 12px;
											border-radius: 3px;
											border: 2px solid transparent;
											&:hover {
												background: $orange;
												color: $white;
												border-color: $white;
											}//hover
										}//a
									}//tooltiptext
									#closeArrow {
										display: block;
										color: $orange;
										background: $white;
										border: 2px solid $orange;
										font-size: .9em;
										width: 17px;
										height: 17px;
										padding: 3px;
										text-align: center;
										position: absolute;
										top: -10px;
										right: -10px;
										border-radius: 50%;
										&:hover {
											background: $orange;
											color: $white;
											cursor: pointer;
										}//hover
									}//closeArrow

									&:after {
										content: '';
										position: absolute;
										bottom: 100%;
										left: 73.5%;
										margin-left: -5px;
										border-width: 8px;
										border-style: solid;
										border-color: transparent transparent $orange transparent;
									}//after
								}//tooltip



							}//rightOutputData

							&:nth-child(odd) {
								background: $white;
							}//el-list
							&:nth-child(even){
								background: lighten($gray, 1%);
							}//nth-child
						}//el
					}//best-selling-tickets

					.quick-settings {
						.el {
							padding: 20px 10px;
							font-size: .8em;
							border-bottom: 1px solid $borderG;
							.checkboxBtn {
								width: 16px;
								height: 16px;
								float: left;
								margin: 5px;
								background: $white;
								position: relative;
								border: 1.5px solid lighten($dark, 40%);
								&:hover {
									background: lighten($dark, 40%);
									cursor: pointer;
								}//hover
							}//checkbox
							label {
								color: $lightBlue;
								display: block;
								margin: 7px auto;
								font-weight: 600;
							}//label
							p {
								display: block;
								margin: 13px auto;
							}//p
						}//el
						.qs-footer {
							background: $gray;
							ul {
								margin: 0;
								padding: 0;
								list-style-type: none;
								list-style-position: outside;
								overflow: hidden;
								li {
									letter-spacing: 0.05em;
									margin: 5px 0;
									display: block;
									strong {
										color: lighten($dark, 10%);
										font-weight: 600;
									}//strong

									span {
										color: lighten($dark, 50%);
										font-weight: 600;
										margin-right: 150px;
										float: right;
									}//span
								}//li
							}//ul
						}//qs-footer
					}//quick-settings

					.achievement-results {
						background: $lightBlue;
						float: left;
						.results {
							margin: 0; 
							padding: 0;
							ul {
								margin: 0;
								padding: 0;
								list-style-type: none;
								list-style-position: outside;
								width: 100%;
								li {
									width:33.33%;
									float: left;
									margin: 0;
									padding: 35px 0;
									text-align: center;
									.value {
										font-size: 1.75em;
										display: block;
										margin-bottom: 8px;
										color: $white;
										font-weight: 600;
										text-shadow: 2px 2px 1px darken($gray, 65%);
										border-right: 1px solid darken($gray, 7%);
										&:last-of-type {
											border-right: none;
										}//lastoftype
									}//value
									.achievement {
										color: darken($gray, 7%);
									}//achievement
								}//li
							}//ul
						}//results
					}//achievement-results

					.reports {
						clear: both;
						margin-top: 100px;
						.displayHidden {
							display: none;
						}//displayHidden
						ul {
							margin: 0;
							padding:10px;
							list-style-type: none;
							list-style-position: outside;
							overflow: hidden;
							border-bottom: 1px dotted $borderG;
							li {
								float: left;
								margin: 0 5px;
								font-size: .8em;
								letter-spacing: 0.05em;
								color: darken($gray, 25%);
								&:hover {
									color: $lightBlue;
									cursor: pointer;
								}//hover
							}//li
							.active-report {
								color: $lightBlue;
							}//active-report
						}//ul
						img{ width: 95%; display: block; margin: 0 auto; padding: 10px 0;}//img
					}//reports

					.attendance {
						.el {
							display: flex;
							flex-wrap: wrap;
							flex-direction: row;
							margin: 0;
							padding: 10px 0;
							width: 100%;
							&:nth-child(even) {
								background: $gray;
							}//even(nth)
							&:nth-child(odd) {
								background: $white;
							}//nth-child(odd)

							.left {
								width:50%;
								margin: 0;
								padding: 0;
								&__header {
									color: $dark;
									font-size: .7em;
									h2 {
										margin: 5px 10px;
									}//h1
								}//header
								&__buttons {
									margin: 16px 10px;
									padding: 0;
									span {
										a {
											color: $dark;
											background: darken($gray, 5%);
											font-size: .7em;
											letter-spacing: 0.05em;
											padding: 10px 14px;
											text-decoration: none;
											&:hover{
												background: $orangeO;
												color: $white;
											}//hover
										}//a
									}//a
								}//buttons
							}//left

							
							&__email {
								width: 47%;
								text-align: right;
							    padding-right: 14px;
								display: block;
								margin: 0;
								padding: 10px 0;
								font-size: .75em;
								a {
									color: $lightBlue;
									margin-left: 3%;
								}
								p.applied {
									font-size: .85em;
									color: darken($gray, 40%);
								}//p
							}//email
						}//el
					}//attendance

					.social-media {
						border: 1px solid $borderG;
						width: 1000px;
						max-width: 100%;
						display: block;
						margin: 25px auto;
						padding: 0;
						box-shadow: 4px 4px 0px 0px $gray2;
						h1 {
							margin: 0; 
							background-image: url('../../images/headerel.png');
							background-repeat: no-repeat;
							background-position: right;
							background-size: contain;
						}//h1
						.bst-col__three--content {
							display: flex;
							flex-direction: row;
							.left {
								float: left;
								span {
									float: left;
									padding: 12px 0;
									margin: 0 10px;
									color: $lightBlue;
									font-size: 1.2em;
								}//span icon
								h2 {
									font-size: 1em;
									color: $lightBlue;
								}//h2
								p {
									padding: 3px;
									margin: 9px 0px 15px 33px; 
									width: 75%;
									line-height: 1.4em;
									letter-spacing: 0.05em;
									font-size: .75em;
									color: darken($gray, 30%);
								}//p
							}//left
							.right {
								padding: 25px;
								img {
									width: 80%;
									overflow: hidden;
								}//img
							}//right
							&:hover {
								cursor: pointer;
								background: $clouds;
							}//content hover
						}//content
					}//social-media
				}//bst-col
			}//eventContent
		}//article#info
	}//main

	footer {
		background: $gray2;
		clear: both;
		width: 100%;
		position: relative;
		bottom: 0;
		text-align:center;
		font-size: .75em;
		color: $inactive;
		letter-spacing: 0.05em;
		p{
		margin: 0;
		padding: 20px;
		font-size: .85em;
			a {
				text-decoration: none;
				color: $inactive;
				&:hover {
					color: darken($inactive, 10%);
					text-decoration: underline;
				}//hover
			}//a
		}//p
	}//footer
}//body