/* 
******* Main Site Styling for 
- Front End Technical Test
- Charity Creative Landing Page
- Festival Creative Landing Page
*******
 */

/* Colors */
$white 		: #ffffff;
$dark 		: #1c1c1c;
$clouds		: #ecf0f1;
$silver		: #bdc3c7;
$vLightBlue : #f1f8f9;
$gray		: #f6f6f6;
$gray2		: #f2f2f2;
$borderG    : #e0e0e0;
$lightGray	: #e7e7e7;
$navyBlue	: #0e798b;
$darkenNB 	: #0b5c6a;
$lightBlue	: #14b2cc;
$orange		: #f29323;
$orangeO	: #f8c991;
$inactive	: #c0c0c0;
$midnight	: #2c3e50;
$asphalt	: #34495e;
$sunflower	: #f1c40f;
$sunflower2	: #f39c12;

$openSans	: 'Open Sans', sans-serif;

body {
	font-family: $openSans;
	margin: 0;
	padding: 0;

	/* Return to Main Page */
	#return {
		background: $dark;
		font-size: .7em;
		padding: 10px;
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			li {
				overflow: hidden;
				a {
					text-decoration: none;
					color: $clouds;
					padding: 3px 10px;
					border-left: 5px solid $lightBlue;
					&:hover {
						// background: $clouds;
						color: $lightBlue;
					}//hover
				}//a
			}//li
		}//ul
	}//return tab

	header {
		background: $navyBlue;
		nav {
			position: relative;
			display: block;
			margin: 0 auto;

			/* Logo */
			#brand_logo{ 
				img {
					width: 240px;
					padding: 10px 15px 0px 15px;
					max-width: 100%;
					float: left;
				}//img
			}//brand_logo

			ul {
				list-style-type: none;
				margin: 0;
    			padding: 0;
				overflow: hidden;
				li {
					text-align: center;
					a {
						float: left;
						text-decoration: none;
						font-weight: 400;
						padding: 34px 16px;
						line-height: 1.2em;
						font-size: .85em;
						letter-spacing: 0.05em;
						color: $clouds;
						span {
							margin: 0 3px 0 0;
						}//span
						&:hover {
							background: $darkenNB;
						}//hover
					}//a
					#active-nav {
						background: $darkenNB;
					}//active-nav
				}//li
			}//ul
		}//nav
	}//header

	main{
		width: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		aside {
			color: $navyBlue;
			width: 320px;
			max-width: 100%;
			background:$vLightBlue;
			height: 100vh;
			border-right: 1px solid $borderG;
			h1 {
				font-size: 1.45em;
				padding: 14px 16px;
				span {
					float: right;
					padding: 0 10px;
				}//span
			}//h1
			ul {
				list-style-type: none;
				list-style-position: outside;
				overflow: hidden;
				margin: 0;
				padding: 0;
				li {
					margin: 0;
					padding: 0;
					a {
						display: block;
						text-decoration: none;
						color: lighten($dark, 20%);
						font-weight: 400;
						letter-spacing: 0.05em;
						font-size: .9em;
						padding: 10px 16px;
						border-left: 7px solid transparent;
						&:hover {
							color: $navyBlue;
							border-left-color: $navyBlue;
						}//hover
					}//a
				}//li
				#active-side {
					color: $navyBlue;
					border-left-color: $navyBlue;
				}//active-side
			}//ul
		}//aside

		article#info {
			width: 100%;
			margin: 0;
			padding: 0;
			background: $white;
			#infoNav {
				margin: 0;
				padding: 0;
				ul {
					margin: 0;
					padding: 0;
					list-style-type: none;
					list-style-position: outside;
					overflow: hidden;
					border-bottom: 1px solid $borderG;
					background: $gray;
					li {
						float: left;
						a {
							border-right: 1px solid $borderG;
							text-decoration: none;
							color: $lightBlue;
							font-weight: 600;
							letter-spacing: 0.05em;
							display: inline-block;
							padding: 18px 16px;
							font-size: .8em;
							&:hover {
								color: $orange;
							}//hover
						}//a
					}//li
				}//ul
				#active-info {
					background: $orange;
					color: $white;
					text-transform: uppercase;
				}//active-info
			}//infoNav
			/* Content Event Header */
			.theEvent {
				margin: 0;
				padding: 0;
				border-bottom: 1px solid $borderG;
				figure {
					margin: 0;
					padding: 10px;
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;
					// img{}
					img{
						float: left;
						display: block;
						width: 125px;
						height: 125px;
						margin: 0 15px;
						box-shadow: 4px 4px 0px 0px $gray2;
						border: 2px solid $gray2;
					}//testimg

					figcaption {
						margin: 0;
						padding: 14px 3px;
						h1 {
							margin: 0;
							padding: 5px 10px;
							font-size: 1.5em;
							color: $lightBlue;
							#dialog {
								position: relative;
								top: -5px;
								margin: 0 0 0 3px;
								font-size: .6rem;
								font-weight: 400;
								letter-spacing: 0.05em;
								border-radius: 3px;
								text-decoration: none;
								color: $white;
								background: $lightBlue;
								padding: 6px 8px;
								border:1px solid transparent;
								&:hover {
									background: $white;
									color: $lightBlue;
									border-color: $lightBlue;
								}//hover
							}//dialog (a)
						}//h1

						/* Schedule */
						.schedule {
							margin: 0;
							padding: 5px;
							font-size: .9rem;
							display: block;

							&__title {
								color: darken($silver, 2%);
								padding: 2px;
							}//schedule__title
							&__info {
								color: darken($silver, 25%);
								padding: 2px;
								padding-left: 10px;
							}//schedule__title

							.cols {
								width: 100%;
								.col-1 {
									width: 50%;
									float: left;
								}//col-1
								.col-2 {
									width: 50%;
									float: right;
								}//col-2
							}//cols
						}//schedule
					}//figcaption
				}//figure
			}//theEvent

			/* Content Main - 2 Columns */
			#eventContent {
				margin: 0;
				padding: 0;
				border-bottom: 1px solid $borderG;

				.bst-col {
					padding: 10px 20px;
					display: flex;
					flex-wrap: wrap;
					flex-direction: row;

					&__one, &__two, &__three {
						border: 1px solid $borderG;
						display: block;
						h1 {
							background: $gray;
							color: $lightBlue;
							font-size: 1.2em;
							font-weight: 400;
							padding: 14px 16px;
						}//h1
					}//cols one,two,three

					&__one {
						&__one--title {
							// width: 400px;
							margin: 0 10px;
						}//one-title

						&__one--content {

						}//one-content
					}//one
				}//bst-col
			}//eventContent
		}//article#info
	}//main

	footer {
		clear: both;
		width: 100%;
		position: relative;
		bottom: 0;
		text-align:center;
		font-size: .75em;
		color: $inactive;
		letter-spacing: 0.05em;
		margin-top: 25px;
		a {
			text-decoration: none;
			color: $inactive;
			&:hover {
				color: darken($inactive, 10%);
				text-decoration: underline;
			}//hover
		}//a
	}//footer
}//body