/* 
******* Main Site Styling for 
- Front End Technical Test
- Charity Creative Landing Page
- Festival Creative Landing Page
*******
 */
/* Box-Sizing */
/* backimage */
/* CLEARFIX */
/*********************
BREAKPOINTS
*********************/
/*************** 
FUNCTION ( CONVERTER 'PX' TO 'EM' )
****************/
/*  
HOW TO USE

-

    h1 {
      font-size: em(32);
    }

    // is the same as:

    h1 {
      font-size: em(32px);
    }

*/
/* Colors */
body {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.05em;
  /* Return to Main Page */
  /* HEADER */
  /* MAIN */
  /* FOOTER */ }
  body #return {
    background: #1c1c1c;
    font-size: 0.625em;
    padding: 10px; }
    body #return ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      body #return ul li {
        overflow: hidden; }
        body #return ul li a {
          text-decoration: none;
          color: #ecf0f1;
          padding: 3px 10px;
          border-left: 5px solid #e74c3c; }
          body #return ul li a:hover {
            color: #e74c3c; }
  body header {
    height: 100vh;
    background: -webkit-linear-gradient(left, rgba(28, 28, 28, 0.4), rgba(28, 28, 28, 0.4)), url("../../images/charity/header-animal-opt.jpg") no-repeat;
    background: -moz-linear-gradient(left, rgba(28, 28, 28, 0.4), rgba(28, 28, 28, 0.4)), url("../../images/charity/header-animal-opt.jpg") no-repeat;
    background: -o-linear-gradient(left, rgba(28, 28, 28, 0.4), rgba(28, 28, 28, 0.4)), url("../../images/charity/header-animal-opt.jpg") no-repeat;
    background: -ms-linear-gradient(left, rgba(28, 28, 28, 0.4), rgba(28, 28, 28, 0.4)), url("../../images/charity/header-animal-opt.jpg") no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    body header nav {
      margin: 0;
      padding: 0 15px 15px 15px;
      height: 100%; }
      body header nav #nav {
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style-position: outside;
        overflow: hidden;
        /* logo */
        /* Menu List */
        /* Social Media */
        /* Header Buttons */ }
        body header nav #nav .logo {
          margin: 0 auto;
          padding: 45px 0;
          width: auto;
          max-width: 100%;
          display: block;
          list-style-type: none;
          list-style-position: outside; }
          body header nav #nav .logo a img {
            width: 480px;
            max-width: 100%;
            display: block;
            margin: 0 auto; }
          @media (max-width: 64em) {
            body header nav #nav .logo a img {
              margin: 0 auto;
              width: 320px; } }
        body header nav #nav .menu {
          /* li.menu */
          margin: 0;
          padding: 0;
          display: block;
          width: 960px;
          max-width: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background: rgba(0, 0, 0, 0.5); }
          body header nav #nav .menu #navbar-on {
            margin: 0;
            padding: 0;
            list-style-type: none;
            list-style-position: outside;
            overflow: hidden; }
            body header nav #nav .menu #navbar-on li {
              float: left; }
              body header nav #nav .menu #navbar-on li a {
                text-align: center;
                display: block;
                padding: 14px 32px 14px 32px;
                margin: 5px auto 5px auto;
                text-decoration: none;
                color: #ffffff;
                font-size: 1.5em;
                font-weight: 600;
                border: 2px solid transparent; }
                body header nav #nav .menu #navbar-on li a:hover {
                  color: #f5b043;
                  border-color: #f5b043;
                  background: rgba(0, 0, 0, 0.8); }
              @media (min-width: 70em) {
                body header nav #nav .menu #navbar-on li:first-of-type {
                  margin-left: 20px; } }
        @media (max-width: 64em) {
          body header nav #nav .menu {
            background: none; }
            body header nav #nav .menu #navbar-on li {
              float: none; }
              body header nav #nav .menu #navbar-on li a {
                margin: 0;
                padding: 12px 15px; } }
        body header nav #nav .social-media {
          margin: 0;
          padding: 0; }
          body header nav #nav .social-media ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            list-style-position: outside;
            overflow: hidden;
            position: absolute;
            bottom: 3%;
            left: 50%;
            transform: translateX(-50%); }
            body header nav #nav .social-media ul li {
              display: inline-block; }
              body header nav #nav .social-media ul li a {
                color: #ffffff;
                padding: 10px 12px;
                font-size: 1.125em; }
                @media (max-width: 40em) {
                  body header nav #nav .social-media ul li a {
                    padding: 3px 6px; } }
                body header nav #nav .social-media ul li a:hover {
                  color: #f1c40f; }
        body header nav #nav #header_buttons {
          position: absolute;
          left: 50%;
          top: 80%;
          transform: translate(-50%, -50%);
          z-index: 10; }
          body header nav #nav #header_buttons ul {
            margin: 0;
            padding: 0;
            overflow: hidden;
            list-style-type: none;
            list-style-position: outside; }
            body header nav #nav #header_buttons ul li {
              float: left; }
              @media (max-width: 40em) {
                body header nav #nav #header_buttons ul li {
                  float: none;
                  width: 200px;
                  padding: 15px;
                  font-size: 1.5em; } }
              body header nav #nav #header_buttons ul li a {
                text-decoration: none;
                color: #e08e0b;
                display: block;
                font-weight: 600;
                background: #ffffff;
                padding: 14px 32px 14px 32px;
                margin: 5px 5px 5px 0px;
                border: 2px solid transparent; }
                @media (max-width: 64em) {
                  body header nav #nav #header_buttons ul li a {
                    margin: 2px;
                    padding: 10px 15px;
                    text-align: center; } }
                body header nav #nav #header_buttons ul li a:hover {
                  background: #f39c12;
                  color: #ffffff;
                  border-color: #ffffff; }
        @media (max-width: 64em) {
          body header nav #nav {
            position: relative;
            background: rgba(0, 0, 0, 0.7);
            height: 100%; } }
    @media (max-width: 40em) {
      body header #navbar-on, body header .social-media {
        display: none; } }
  body main {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%; }
    body main #container {
      margin: 0;
      padding: 0; }
      body main #container .content-nav {
        width: 100%;
        background: #cc6055; }
        body main #container .content-nav ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          list-style-position: outside;
          overflow: hidden; }
          body main #container .content-nav ul li {
            float: left; }
            body main #container .content-nav ul li a {
              display: block;
              padding: 14px 16px;
              color: #ffffff;
              text-decoration: none;
              font-weight: 400;
              letter-spacing: 0.05em;
              font-size: 0.875em; }
              body main #container .content-nav ul li a:hover {
                background: #b74337; }
          body main #container .content-nav ul .branding {
            background: #b74337; }
            body main #container .content-nav ul .branding a {
              font-size: 0.8125em;
              padding: 14px 20px;
              letter-spacing: 0.05em; }
              body main #container .content-nav ul .branding a span {
                font-weight: 900;
                font-size: 1.25em; }
          body main #container .content-nav ul .social ul {
            position: absolute;
            right: 0; }
            body main #container .content-nav ul .social ul li {
              border-right: 1px solid #b74337;
              float: left; }
              body main #container .content-nav ul .social ul li a {
                font-size: 0.9375em;
                padding: 14px 16px;
                letter-spacing: 0.05em; }
              body main #container .content-nav ul .social ul li:last-of-type {
                border-right: none; }
        body main #container .content-nav #bars {
          display: none; }
      @media (max-width: 70em) {
        body main #container .content-nav {
          position: relative;
          width: 100%;
          height: 100%; }
          body main #container .content-nav ul li {
            float: none;
            display: block; }
            body main #container .content-nav ul li a {
              font-size: 1.375em;
              text-align: left; }
          body main #container .content-nav .branding {
            font-size: 1.75em; }
            body main #container .content-nav .branding a {
              text-align: center; }
          body main #container .content-nav .social {
            display: none; }
          body main #container .content-nav #bars {
            display: block;
            z-index: 10;
            color: #ffffff;
            font-size: 1em;
            padding: 14px 16px;
            text-align: right; }
            body main #container .content-nav #bars:hover {
              cursor: pointer; } }
      body main #container #welcome {
        position: relative;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-bottom: 1px solid #e0e0e0; }
        body main #container #welcome:before, body main #container #welcome:after {
          content: '';
          display: table; }
        body main #container #welcome:after {
          clear: both; }
        body main #container #welcome .welcome_intro {
          margin: 0; }
          body main #container #welcome .welcome_intro img {
            width: auto;
            max-width: 100%;
            display: block;
            margin: 0 auto; }
      body main #container #info {
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(28, 28, 28, 0.4), rgba(28, 28, 28, 0.4)), url("../../images/charity/header-animal-opt.jpg") no-repeat;
        background: -moz-linear-gradient(left, rgba(28, 28, 28, 0.4), rgba(28, 28, 28, 0.4)), url("../../images/charity/header-animal-opt.jpg") no-repeat;
        background: -o-linear-gradient(left, rgba(28, 28, 28, 0.4), rgba(28, 28, 28, 0.4)), url("../../images/charity/header-animal-opt.jpg") no-repeat;
        background: -ms-linear-gradient(left, rgba(28, 28, 28, 0.4), rgba(28, 28, 28, 0.4)), url("../../images/charity/header-animal-opt.jpg") no-repeat;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; }
        body main #container #info h1 {
          margin: 0;
          padding: 0;
          line-height: 1.2em;
          color: #ffffff;
          text-align: center;
          padding: 35px 0;
          letter-spacing: 0.05em;
          font-size: 3.375em;
          font-weight: 900;
          word-break: keep-all; }
          @media (max-width: 64em) {
            body main #container #info h1 {
              font-size: 1.875em; } }
        body main #container #info .challenges {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row; }
          body main #container #info .challenges__col-1, body main #container #info .challenges__col-2, body main #container #info .challenges__col-3 {
            display: block;
            margin: 0 auto;
            background: #f2f2f2;
            padding: 25px 0;
            border-radius: 5px 5px 0 0; }
            @media (max-width: 64em) {
              body main #container #info .challenges__col-1, body main #container #info .challenges__col-2, body main #container #info .challenges__col-3 {
                border-radius: 0; } }
            body main #container #info .challenges__col-1 img, body main #container #info .challenges__col-2 img, body main #container #info .challenges__col-3 img {
              width: 300px;
              max-width: 100%;
              display: block;
              margin: 0 auto;
              padding: 0px; }
              @media (max-width: 64em) {
                body main #container #info .challenges__col-1 img, body main #container #info .challenges__col-2 img, body main #container #info .challenges__col-3 img {
                  padding: 0;
                  margin: 0 auto;
                  width: auto; } }
            body main #container #info .challenges__col-1 h2, body main #container #info .challenges__col-2 h2, body main #container #info .challenges__col-3 h2 {
              background: #cc6055;
              padding: 5px;
              text-align: center;
              color: #ffffff;
              font-weight: 600;
              font-size: 1.25em; }
              @media (max-width: 64em) {
                body main #container #info .challenges__col-1 h2, body main #container #info .challenges__col-2 h2, body main #container #info .challenges__col-3 h2 {
                  width: auto; } }
            body main #container #info .challenges__col-1 p, body main #container #info .challenges__col-2 p, body main #container #info .challenges__col-3 p {
              width: 320px;
              max-width: 100%;
              color: #1c1c1c;
              padding: 25px;
              text-align: center;
              line-height: 1.5em; }
              @media (max-width: 64em) {
                body main #container #info .challenges__col-1 p, body main #container #info .challenges__col-2 p, body main #container #info .challenges__col-3 p {
                  width: auto; } }
            body main #container #info .challenges__col-1 a, body main #container #info .challenges__col-2 a, body main #container #info .challenges__col-3 a {
              text-align: center;
              width: 240px;
              max-width: 100%;
              background: #cc6055;
              border: 2px solid #f2f2f2;
              color: #ffffff;
              font-weight: 600;
              padding: 14px 16px;
              display: block;
              border-radius: 7px;
              text-decoration: none;
              margin: 0 auto; }
              body main #container #info .challenges__col-1 a:hover, body main #container #info .challenges__col-2 a:hover, body main #container #info .challenges__col-3 a:hover {
                background: #ffffff;
                color: #cc6055;
                border-color: #ffffff; }
              @media (max-width: 64em) {
                body main #container #info .challenges__col-1 a, body main #container #info .challenges__col-2 a, body main #container #info .challenges__col-3 a {
                  width: auto; } }
    body main .hiddenNav {
      display: none; }
  body footer {
    background: #f2f2f2;
    clear: both;
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: 0.75em;
    color: #c0c0c0;
    letter-spacing: 0.05em; }
    body footer p {
      margin: 0;
      padding: 20px;
      font-size: 0.875em; }
      body footer p a {
        text-decoration: none;
        color: #c0c0c0; }
        body footer p a:hover {
          color: #a7a7a7;
          text-decoration: underline; }
