/* 
******* Main Site Styling for 
- Front End Technical Test
- Charity Creative Landing Page
- Festival Creative Landing Page
*******
 */
/* Colors */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  /* Return to Main Page */ }
  body #return {
    background: #1c1c1c;
    font-size: .7em;
    padding: 10px; }
    body #return ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      body #return ul li {
        overflow: hidden; }
        body #return ul li a {
          text-decoration: none;
          color: #ecf0f1;
          padding: 3px 10px;
          border-left: 5px solid #14b2cc; }
          body #return ul li a:hover {
            color: #14b2cc; }
  body header {
    background: #0e798b; }
    body header nav {
      position: relative;
      display: block;
      margin: 0 auto;
      /* Logo */ }
      body header nav #brand_logo img {
        width: 240px;
        padding: 10px 15px 0px 15px;
        max-width: 100%;
        float: left; }
      body header nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden; }
        body header nav ul li {
          text-align: center; }
          body header nav ul li a {
            float: left;
            text-decoration: none;
            font-weight: 400;
            padding: 34px 16px;
            line-height: 1.2em;
            font-size: .85em;
            letter-spacing: 0.05em;
            color: #ecf0f1; }
            body header nav ul li a span {
              margin: 0 3px 0 0; }
            body header nav ul li a:hover {
              background: #0b5c6a; }
          body header nav ul li #active-nav {
            background: #0b5c6a; }
  body main {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row; }
    body main aside {
      color: #0e798b;
      width: 320px;
      max-width: 100%;
      background: #f1f8f9;
      height: auto;
      border-right: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0; }
      body main aside h1 {
        font-size: 1.45em;
        padding: 14px 16px; }
        body main aside h1 span {
          float: right;
          padding: 0 10px; }
      body main aside ul {
        list-style-type: none;
        list-style-position: outside;
        overflow: hidden;
        margin: 0;
        padding: 0; }
        body main aside ul li {
          margin: 0;
          padding: 0; }
          body main aside ul li a {
            display: block;
            text-decoration: none;
            color: #4f4f4f;
            font-weight: 400;
            letter-spacing: 0.05em;
            font-size: .9em;
            padding: 10px 16px;
            border-left: 7px solid transparent; }
            body main aside ul li a:hover {
              color: #0e798b;
              border-left-color: #0e798b; }
        body main aside ul #active-side {
          color: #0e798b;
          border-left-color: #0e798b; }
    body main article#info {
      width: 100%;
      margin: 0;
      padding: 0;
      background: #ffffff;
      /* Content Event Header */
      /* Content Main - 2 Columns */ }
      body main article#info #infoNav {
        margin: 0;
        padding: 0; }
        body main article#info #infoNav ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          list-style-position: outside;
          overflow: hidden;
          border-bottom: 1px solid #e0e0e0;
          background: #f6f6f6; }
          body main article#info #infoNav ul li {
            float: left; }
            body main article#info #infoNav ul li a {
              border-right: 1px solid #e0e0e0;
              text-decoration: none;
              color: #14b2cc;
              font-weight: 600;
              letter-spacing: 0.05em;
              display: inline-block;
              padding: 18px 16px;
              font-size: .8em; }
              body main article#info #infoNav ul li a:hover {
                color: #f29323; }
        body main article#info #infoNav #active-info {
          background: #f29323;
          color: #ffffff;
          text-transform: uppercase; }
      body main article#info .theEvent {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #e0e0e0;
        /* Dialog Pop Up */
        /* 	overflow: hidden; to disable scroll whil this is on screen */ }
        body main article#info .theEvent #dialogPopUp {
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.5);
          z-index: 10;
          display: none; }
          body main article#info .theEvent #dialogPopUp .content {
            background: #ffffff;
            color: #1c1c1c;
            width: 50%;
            height: auto;
            position: absolute;
            text-align: center;
            padding: 125px 45px;
            font-weight: 600;
            font-size: 1.15em;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); }
        body main article#info .theEvent figure {
          margin: 0;
          padding: 10px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row; }
          body main article#info .theEvent figure img {
            float: left;
            display: block;
            width: 125px;
            height: 125px;
            margin: 0 15px;
            box-shadow: 4px 4px 0px 0px #f2f2f2;
            border: 2px solid #f2f2f2; }
          body main article#info .theEvent figure figcaption {
            margin: 0;
            padding: 14px 3px;
            /* Schedule */ }
            body main article#info .theEvent figure figcaption h1 {
              margin: 0;
              padding: 5px 10px;
              font-size: 1.5em;
              color: #14b2cc; }
              body main article#info .theEvent figure figcaption h1 #dialog {
                position: relative;
                top: -5px;
                margin: 0 0 0 3px;
                font-size: .6rem;
                font-weight: 400;
                letter-spacing: 0.05em;
                border-radius: 3px;
                text-decoration: none;
                color: #ffffff;
                background: #14b2cc;
                padding: 6px 8px;
                border: 1px solid transparent; }
                body main article#info .theEvent figure figcaption h1 #dialog:hover {
                  background: #ffffff;
                  color: #14b2cc;
                  border-color: #14b2cc; }
            body main article#info .theEvent figure figcaption .schedule {
              margin: 0;
              padding: 5px;
              font-size: .9rem;
              display: block; }
              body main article#info .theEvent figure figcaption .schedule__title {
                color: #b7bec2;
                padding: 2px; }
              body main article#info .theEvent figure figcaption .schedule__info {
                color: #78848c;
                padding: 2px;
                padding-left: 10px; }
              body main article#info .theEvent figure figcaption .schedule .cols {
                width: 100%; }
                body main article#info .theEvent figure figcaption .schedule .cols .col-1 {
                  width: 50%;
                  float: left; }
                body main article#info .theEvent figure figcaption .schedule .cols .col-2 {
                  width: 50%;
                  float: right; }
      body main article#info #eventContent {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #e0e0e0; }
        body main article#info #eventContent .bst-col {
          padding: 10px 20px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          /* Sections with borders */ }
          body main article#info #eventContent .bst-col__one, body main article#info #eventContent .bst-col__two, body main article#info #eventContent .bst-col__three {
            display: block; }
            body main article#info #eventContent .bst-col__one h1, body main article#info #eventContent .bst-col__two h1, body main article#info #eventContent .bst-col__three h1 {
              background: #f6f6f6;
              color: #14b2cc;
              font-size: 1.2em;
              font-weight: 400;
              padding: 14px 16px; }
          body main article#info #eventContent .bst-col .best-selling-tickets, body main article#info #eventContent .bst-col .quick-settings,
          body main article#info #eventContent .bst-col .achievement-results, body main article#info #eventContent .bst-col .reports, body main article#info #eventContent .bst-col .attendance {
            border: 1px solid #e0e0e0;
            width: 480px;
            max-width: 100%;
            margin: 25px 0;
            box-shadow: 4px 4px 0px 0px #f2f2f2; }
            body main article#info #eventContent .bst-col .best-selling-tickets h1, body main article#info #eventContent .bst-col .quick-settings h1,
            body main article#info #eventContent .bst-col .achievement-results h1, body main article#info #eventContent .bst-col .reports h1, body main article#info #eventContent .bst-col .attendance h1 {
              margin: 0;
              background-image: url("../../images/headerel.png");
              background-repeat: no-repeat;
              background-position: right;
              background-size: contain; }
          body main article#info #eventContent .bst-col .best-selling-tickets .el {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            padding: 10px 0; }
            body main article#info #eventContent .bst-col .best-selling-tickets .el .leftOutputData {
              width: 50%; }
              body main article#info #eventContent .bst-col .best-selling-tickets .el .leftOutputData .icon {
                display: block;
                content: '';
                width: 50px;
                height: 50px;
                background: #f29323;
                border-radius: 100%;
                float: left;
                margin: 10px; }
              body main article#info #eventContent .bst-col .best-selling-tickets .el .leftOutputData h2 {
                margin: 10px 0;
                font-size: .9em; }
              body main article#info #eventContent .bst-col .best-selling-tickets .el .leftOutputData .edit, body main article#info #eventContent .bst-col .best-selling-tickets .el .leftOutputData .viewSales {
                text-align: center;
                margin: 3px;
                font-size: .85em;
                text-decoration: none;
                padding: 7px 12px;
                display: inline-block;
                background: #e9e9e9;
                color: #1c1c1c; }
                body main article#info #eventContent .bst-col .best-selling-tickets .el .leftOutputData .edit:hover, body main article#info #eventContent .bst-col .best-selling-tickets .el .leftOutputData .viewSales:hover {
                  background: #f8c991;
                  color: #ffffff; }
              body main article#info #eventContent .bst-col .best-selling-tickets .el .leftOutputData .hidden {
                color: #9c9c9c; }
            body main article#info #eventContent .bst-col .best-selling-tickets .el .rightOutputData {
              display: block;
              margin: 0;
              float: right;
              width: 40%;
              text-align: right;
              padding: 20px 0;
              /* Popup tooltip */ }
              body main article#info #eventContent .bst-col .best-selling-tickets .el .rightOutputData p {
                font-size: .9em;
                margin: 0;
                padding: 0;
                color: #14b2cc;
                font-weight: 600; }
              body main article#info #eventContent .bst-col .best-selling-tickets .el .rightOutputData span {
                font-size: .7em;
                color: #828282;
                font-weight: 600; }
              body main article#info #eventContent .bst-col .best-selling-tickets .el .rightOutputData #salesPopUp {
                padding: 5px;
                color: #d0d0d0;
                font-size: 1.2em; }
                body main article#info #eventContent .bst-col .best-selling-tickets .el .rightOutputData #salesPopUp:hover {
                  cursor: pointer;
                  color: #f8c991; }
              body main article#info #eventContent .bst-col .best-selling-tickets .el .rightOutputData .downrate {
                color: #f29323; }
              body main article#info #eventContent .bst-col .best-selling-tickets .el .rightOutputData .outofstock {
                color: #1c1c1c; }
              body main article#info #eventContent .bst-col .best-selling-tickets .el .rightOutputData .tooltip {
                position: absolute;
                margin-top: 7px;
                margin-left: 30px;
                background: #f29323;
                padding: 17px 24px;
                box-shadow: 4px 4px 0px 0px #e5e5e5; }
                body main article#info #eventContent .bst-col .best-selling-tickets .el .rightOutputData .tooltip .tooltiptext {
                  text-align: left;
                  margin: 0;
                  padding: 0; }
                  body main article#info #eventContent .bst-col .best-selling-tickets .el .rightOutputData .tooltip .tooltiptext p {
                    color: #ffffff;
                    width: 150px;
                    font-size: 1.1em;
                    letter-spacing: 0.05em;
                    line-height: 1.4em;
                    text-shadow: 1px 1px 0px dimgray;
                    margin-bottom: 18px; }
                  body main article#info #eventContent .bst-col .best-selling-tickets .el .rightOutputData .tooltip .tooltiptext a {
                    text-decoration: none;
                    background: #ffffff;
                    color: #f29323;
                    font-size: 1em;
                    position: relative;
                    left: 13px;
                    padding: 4px 12px;
                    border-radius: 3px;
                    border: 2px solid transparent; }
                    body main article#info #eventContent .bst-col .best-selling-tickets .el .rightOutputData .tooltip .tooltiptext a:hover {
                      background: #f29323;
                      color: #ffffff;
                      border-color: #ffffff; }
                body main article#info #eventContent .bst-col .best-selling-tickets .el .rightOutputData .tooltip #closeArrow {
                  display: block;
                  color: #f29323;
                  background: #ffffff;
                  border: 2px solid #f29323;
                  font-size: .9em;
                  width: 17px;
                  height: 17px;
                  padding: 3px;
                  text-align: center;
                  position: absolute;
                  top: -10px;
                  right: -10px;
                  border-radius: 50%; }
                  body main article#info #eventContent .bst-col .best-selling-tickets .el .rightOutputData .tooltip #closeArrow:hover {
                    background: #f29323;
                    color: #ffffff;
                    cursor: pointer; }
                body main article#info #eventContent .bst-col .best-selling-tickets .el .rightOutputData .tooltip:after {
                  content: '';
                  position: absolute;
                  bottom: 100%;
                  left: 73.5%;
                  margin-left: -5px;
                  border-width: 8px;
                  border-style: solid;
                  border-color: transparent transparent #f29323 transparent; }
            body main article#info #eventContent .bst-col .best-selling-tickets .el:nth-child(odd) {
              background: #ffffff; }
            body main article#info #eventContent .bst-col .best-selling-tickets .el:nth-child(even) {
              background: #f9f9f9; }
          body main article#info #eventContent .bst-col .quick-settings .el {
            padding: 20px 10px;
            font-size: .8em;
            border-bottom: 1px solid #e0e0e0; }
            body main article#info #eventContent .bst-col .quick-settings .el .checkboxBtn {
              width: 16px;
              height: 16px;
              float: left;
              margin: 5px;
              background: #ffffff;
              position: relative;
              border: 1.5px solid #828282; }
              body main article#info #eventContent .bst-col .quick-settings .el .checkboxBtn:hover {
                background: #828282;
                cursor: pointer; }
            body main article#info #eventContent .bst-col .quick-settings .el label {
              color: #14b2cc;
              display: block;
              margin: 7px auto;
              font-weight: 600; }
            body main article#info #eventContent .bst-col .quick-settings .el p {
              display: block;
              margin: 13px auto; }
          body main article#info #eventContent .bst-col .quick-settings .qs-footer {
            background: #f6f6f6; }
            body main article#info #eventContent .bst-col .quick-settings .qs-footer ul {
              margin: 0;
              padding: 0;
              list-style-type: none;
              list-style-position: outside;
              overflow: hidden; }
              body main article#info #eventContent .bst-col .quick-settings .qs-footer ul li {
                letter-spacing: 0.05em;
                margin: 5px 0;
                display: block; }
                body main article#info #eventContent .bst-col .quick-settings .qs-footer ul li strong {
                  color: #363636;
                  font-weight: 600; }
                body main article#info #eventContent .bst-col .quick-settings .qs-footer ul li span {
                  color: #9c9c9c;
                  font-weight: 600;
                  margin-right: 150px;
                  float: right; }
          body main article#info #eventContent .bst-col .achievement-results {
            background: #14b2cc;
            float: left; }
            body main article#info #eventContent .bst-col .achievement-results .results {
              margin: 0;
              padding: 0; }
              body main article#info #eventContent .bst-col .achievement-results .results ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                list-style-position: outside;
                width: 100%; }
                body main article#info #eventContent .bst-col .achievement-results .results ul li {
                  width: 33.33%;
                  float: left;
                  margin: 0;
                  padding: 35px 0;
                  text-align: center; }
                  body main article#info #eventContent .bst-col .achievement-results .results ul li .value {
                    font-size: 1.75em;
                    display: block;
                    margin-bottom: 8px;
                    color: #ffffff;
                    font-weight: 600;
                    text-shadow: 2px 2px 1px #505050;
                    border-right: 1px solid #e4e4e4; }
                    body main article#info #eventContent .bst-col .achievement-results .results ul li .value:last-of-type {
                      border-right: none; }
                  body main article#info #eventContent .bst-col .achievement-results .results ul li .achievement {
                    color: #e4e4e4; }
          body main article#info #eventContent .bst-col .reports {
            clear: both;
            margin-top: 100px; }
            body main article#info #eventContent .bst-col .reports .displayHidden {
              display: none; }
            body main article#info #eventContent .bst-col .reports ul {
              margin: 0;
              padding: 10px;
              list-style-type: none;
              list-style-position: outside;
              overflow: hidden;
              border-bottom: 1px dotted #e0e0e0; }
              body main article#info #eventContent .bst-col .reports ul li {
                float: left;
                margin: 0 5px;
                font-size: .8em;
                letter-spacing: 0.05em;
                color: #b6b6b6; }
                body main article#info #eventContent .bst-col .reports ul li:hover {
                  color: #14b2cc;
                  cursor: pointer; }
              body main article#info #eventContent .bst-col .reports ul .active-report {
                color: #14b2cc; }
            body main article#info #eventContent .bst-col .reports img {
              width: 95%;
              display: block;
              margin: 0 auto;
              padding: 10px 0; }
          body main article#info #eventContent .bst-col .attendance .el {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin: 0;
            padding: 10px 0;
            width: 100%; }
            body main article#info #eventContent .bst-col .attendance .el:nth-child(even) {
              background: #f6f6f6; }
            body main article#info #eventContent .bst-col .attendance .el:nth-child(odd) {
              background: #ffffff; }
            body main article#info #eventContent .bst-col .attendance .el .left {
              width: 50%;
              margin: 0;
              padding: 0; }
              body main article#info #eventContent .bst-col .attendance .el .left__header {
                color: #1c1c1c;
                font-size: .7em; }
                body main article#info #eventContent .bst-col .attendance .el .left__header h2 {
                  margin: 5px 10px; }
              body main article#info #eventContent .bst-col .attendance .el .left__buttons {
                margin: 16px 10px;
                padding: 0; }
                body main article#info #eventContent .bst-col .attendance .el .left__buttons span a {
                  color: #1c1c1c;
                  background: #e9e9e9;
                  font-size: .7em;
                  letter-spacing: 0.05em;
                  padding: 10px 14px;
                  text-decoration: none; }
                  body main article#info #eventContent .bst-col .attendance .el .left__buttons span a:hover {
                    background: #f8c991;
                    color: #ffffff; }
            body main article#info #eventContent .bst-col .attendance .el__email {
              width: 47%;
              text-align: right;
              padding-right: 14px;
              display: block;
              margin: 0;
              padding: 10px 0;
              font-size: .75em; }
              body main article#info #eventContent .bst-col .attendance .el__email a {
                color: #14b2cc;
                margin-left: 3%; }
              body main article#info #eventContent .bst-col .attendance .el__email p.applied {
                font-size: .85em;
                color: #909090; }
          body main article#info #eventContent .bst-col .social-media {
            border: 1px solid #e0e0e0;
            width: 1000px;
            max-width: 100%;
            display: block;
            margin: 25px auto;
            padding: 0;
            box-shadow: 4px 4px 0px 0px #f2f2f2; }
            body main article#info #eventContent .bst-col .social-media h1 {
              margin: 0;
              background-image: url("../../images/headerel.png");
              background-repeat: no-repeat;
              background-position: right;
              background-size: contain; }
            body main article#info #eventContent .bst-col .social-media .bst-col__three--content {
              display: flex;
              flex-direction: row; }
              body main article#info #eventContent .bst-col .social-media .bst-col__three--content .left {
                float: left; }
                body main article#info #eventContent .bst-col .social-media .bst-col__three--content .left span {
                  float: left;
                  padding: 12px 0;
                  margin: 0 10px;
                  color: #14b2cc;
                  font-size: 1.2em; }
                body main article#info #eventContent .bst-col .social-media .bst-col__three--content .left h2 {
                  font-size: 1em;
                  color: #14b2cc; }
                body main article#info #eventContent .bst-col .social-media .bst-col__three--content .left p {
                  padding: 3px;
                  margin: 9px 0px 15px 33px;
                  width: 75%;
                  line-height: 1.4em;
                  letter-spacing: 0.05em;
                  font-size: .75em;
                  color: #aaaaaa; }
              body main article#info #eventContent .bst-col .social-media .bst-col__three--content .right {
                padding: 25px; }
                body main article#info #eventContent .bst-col .social-media .bst-col__three--content .right img {
                  width: 80%;
                  overflow: hidden; }
              body main article#info #eventContent .bst-col .social-media .bst-col__three--content:hover {
                cursor: pointer;
                background: #ecf0f1; }
  body footer {
    background: #f2f2f2;
    clear: both;
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: .75em;
    color: #c0c0c0;
    letter-spacing: 0.05em; }
    body footer p {
      margin: 0;
      padding: 20px;
      font-size: .85em; }
      body footer p a {
        text-decoration: none;
        color: #c0c0c0; }
        body footer p a:hover {
          color: #a7a7a7;
          text-decoration: underline; }
